@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --color00: #1a1718;
    --color01: #D69D12;
    --color02: #26555D;
    --color03: #D9D9DB;
    --color04: #EFEFEF;
}

header {
    min-width: min-content;
    max-width: max-content;
}

body {
    background: var(--color02);
    font-family: 16px 'Arimo', sans-serif;
}

#menu {
    min-width:300px;
    max-width: 872px;
    margin: auto;
    /* margin: 0px 302px; */
    background: var(--color00);
    padding: 15px;
}

a {
    color: var(--color03);
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

#menu > a:hover {
    background: var(--color03);
    color: var(--color00);
}

#conteudo {
    min-width:300px;
    max-width: 881px;
    margin: auto;
    /* margin-left: 302px;
    width: 883px; */
    background: var(--color03);
    padding: 10px;
}

#conteudo-texto {
    /* border: 2px solid red; */
    width: 500px;
}

#conteudo > #conteudo-texto > p > a {
    color: var(--color02);
}

.centralizar {
    text-align: center;
}

h1 {
    font-size: 1.5em;
    text-align: left;
}

h2 {
    padding-top: 40px;
    font-size: 1.3em;
    text-align: left;
    margin-left: 10px;
}

p {
    text-align: justify;
}

#conteudo > div >img {
    width: 70%;
    position: relative;
    padding-right: 0px;
}

#foto05 {
    /* border: 2px solid red; */
    width: 300px;
    margin: -290px 10px 10px 550px;
    
}

#foto-catabenise01 {
    /* border: 2px solid red; */
    width: 700px;
    margin-left: -100px;
}

#conteudo-contabenise {
    /* border: 2px solid red; */
    width: 300px;
    margin: -330px 10px 10px 520px;
}

#insta02 {
    width: 90%;
    border-radius: 50px;
}

#final {
    padding-top: 20px;
}

/* span, a {
    color: var(--color04);
    text-decoration: none;
}

a:hover {
    color: var(--color03);
}

h2, p {
    color: var(--color03);
}

.fotos > img {
    padding-left: 10px;
    width: 25%;
}

.fotos > p {
    text-align: right;
    font-size: 20px;
    margin-right: 202px;
    margin-top: -502px;
}

#direitos {
    color: var(--color00);
} */